ol, ul, dl {
    margin-bottom: 0;
}
#page {
    margin-left: 10px;
}
#go {
    margin-left: 10px;
}
.ui-dialog-lyrics .ui-dialog-content {
  color: black;
}
a.songs {
color: white !important;
}
a.songs:hover {
color: blue !important;
}